{% extends "layout.html" %}

{% block title %}
    Transaction History
{% endblock %}

{% block main %}
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Action</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Total</th>
                <th>Purchase Time</th>
            </tr>
        </thead>
        <tbody>

            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.symbol }}</td>
                    <td>{{ transaction.action }}</td>
                    <td>{{ transaction.shares }}</td>
                    <td>${{ transaction.price }}</td>
                    <td>${{ transaction.price * transaction.shares }}</td>
                    <td>{{ transaction.purchase_time }}</td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
{% endblock %}